* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.carousel-inner {
    padding-top: 50px;
}

@media (max-width: 768px) {
    .carousel-container {
        width: 95%;
    }
}

.inner-carousel {
    width: 100%;
    overflow: hidden;
}

.track {

    height: 100%;
    transition: transform 0.2s ease-in-out;

}

.memebership-card {

    margin: 75px 25px 200px;

}

.card-container {

    flex-shrink: 0;
    padding: 20px;
}

.main-heading-memebership {

    margin-bottom: 50px;
    line-height:30px;

}

.card-btn {
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;

}

.membership-button {
    background: #00B74F;
    background: #00B74F;
    width: 100%;
    border-radius: 50px;
    height: 40px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
}

.card-list p {
    color: #877a7a;
    font-weight: 700;
}

.card-list {
    min-height: 250px;
}

.card-list ul {
    padding-left: 0rem;

}

.card-list ul li {

    font-weight: 700;
    list-style: none;
    display: flex;
}

.card-list ul li p {
    margin-bottom: 0px;
    color: #000;
}

.card-list ul li::before {
    content: '✓';
    color: #00B74F;
    font-weight: 900;
    font-size: 16px;
    padding-right: 7px;

}

.card {
    width: 100%;
    height: 100%;
    background-position: center bottom;
    background-size: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.card-heading {
    text-align: center;
    margin-top: 50px;
}

.card-amount {
    text-align: center;
    color: #00B74F;

}

.card1 {
    height: 600px;
    padding: 35px 15px;
    box-shadow: 2px 12px 10px #9e9191;
    border: 1px solid #dbdbdb;
    
}

.amount {
    margin-bottom: 50px;
}


/* SWITCH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.switch-wrapper {
    position: relative;
    display: inline-flex;
    padding: 4px;
    border: 1px solid lightgrey;
    margin-bottom: 40px;
    border-radius: 30px;
    background: white;
}

.switch-wrapper [type="radio"] {
    position: absolute;
    left: -9999px;
}

.switch-wrapper [type="radio"]:checked#monthly~label[for="monthly"],
.switch-wrapper [type="radio"]:checked#yearly~label[for="yearly"] {
    color: white;
    text-align: center;
}

.switch-wrapper [type="radio"]:checked#monthly~label[for="monthly"]:hover,
.switch-wrapper [type="radio"]:checked#yearly~label[for="yearly"]:hover {
    background: transparent;
}

.switch-wrapper [type="radio"]:checked#monthly+label[for="yearly"]~.highlighter {
    transform: none;
}

.switch-wrapper [type="radio"]:checked#yearly+label[for="monthly"]~.highlighter {
    transform: translateX(100%);
}

.switch-wrapper label {
    font-size: 16px;
    z-index: 1;
    min-width: 100px;
    line-height: 32px;
    cursor: pointer;
    border-radius: 30px;
    transition: color 0.25s ease-in-out;
    text-align: center;
}

.switch-wrapper label:hover {
    background: lightgray;
}

.switch-wrapper .highlighter {
    position: absolute;
    top: 4px;
    left: 4px;
    width: calc(50% - 4px);
    height: calc(100% - 8px);
    border-radius: 30px;
    background: #00B74F;
    transition: transform 0.25s ease-in-out;
}


.carousel-container .hide {
    display: none;
}


/*Carousel slide  */
.multi-item-carousel .carousel-inner>.item {
    transition: 500ms ease-in-out left;
}

.multi-item-carousel .carousel-inner .active.left {
    left: -33%;
}

.multi-item-carousel .carousel-inner .active.right {
    left: 33%;
}

.multi-item-carousel .carousel-inner .next {
    left: 33%;
}

.multi-item-carousel .carousel-inner .prev {
    left: -33%;
}

.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
    background-image: none;
}

.carousel-control.right,
.carousel-control.left {
    background-image: none !important;
}

@media(min-width:700px) {
    .carousel-inner>.item {
        display: block !important;
    }

    .carousel-control {
        display: none;
    }
}

@media(max-width:700px) {

    .carousel-control {
        width: 0% !important;
    }

    .memebership-card {
        margin: 75px 25px 86px;
    }

    .multi-item-carousel .carousel-inner>.item {

        padding-top:20px;

    }

    .carousel-inner{
        padding-top: 0px;
    }
}

.card-icon {

    width: 75px;
    margin: 0 auto;
    margin-top: -77px;
    border-radius: 50px;
    box-shadow: 2px 3px 5px #cfc0c0;
    height: 75px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dbdbdb;

}

.card-icon img {

    margin: 0 auto;
    height: 64px;
    border-radius: 50px;
    padding: 17px;
}

.navbar-brand {
    padding: 0px;
}

.navbar {
    min-height: 82px;
    margin-bottom: 0px;
}